.relogio {
    display: flex;
    justify-content: center;
}

.digito {
    width: 42px;
    height: 42px;
    font-weight: bold;
    border: 1px solid gainsboro;
    padding: 8px;
}

.btnAcaoRelogio {
    width: 42px;
    height: 42px;
    margin-right: 18px;
    margin-left: 18px;
    color: red;
    padding: 8px;
    font-size: 24px;
    cursor: pointer;
}

.chartContent {
    width: 600px;
    margin: auto;
}